extends layout

block content
  h1 Login
  span= message
  form(method='post', action='/login')
    | Refferer's Username:
    input(type="text", value=ref_user, name="ref_user")
    | Your Email
    input(type="text", value=email, name="email")

    input(type="submit", value="Login")
